{{>header}}
		
		<!-- ### CATEGORIAS DE PRODUCTO ### -->
		<div>
			<h2>Login</h2>
			
		</div>


		<form action="/login" method="POST" enctype="multipart/form-data">
		<p>
			<div class="form-group">
				<b>Nickname:</b> <input type="text" name="nickname" placeholder="Nickname" required />
			</div>
			<div class="form-group">
				<b>Contraseña:</b> <input type="password" name="password" placeholder="Password" required />
			</div>
			<button type="submit" class="btn btn-default">
 					<span class="glyphicon glyphicon-upload"></span> Login
 			</button>
		</p>
		
	</body>

</html>