{{>workerNav}}
		
		<!-- ### CATEGORIAS DE PRODUCTO ### -->
		<div>
			<h2>Categorias</h2>
			
		</div>

		<ul>
			
			{{#category}}
		 	<li>
		 		<a href="/worker/category/{{id}}"><img src="/download_image/category/{{id}}" width="200" height="200"></img></a>
				<a href="/worker/category/{{id}}"></strong> {{name}}  </a>				
			</li>
			{{/category}}
			
		</ul>
		
		<form action="/worker/addproduct" method="get" enctype="multipart/form-data">
			<p>
				<button type="submit" class="btn btn-default">
	 					<span class="glyphicon glyphicon-upload"></span> Añadir Producto
	 			</button>
			</p>
		
		</form>			
	
	</body>

</html>