{{>header}}
		
		<!-- ### Metodo de pago ### -->
		<div>
			<h2>Numero de tarjeta</h2>
			
		</div>

		<form action="/payconfirmation" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="_csrf" value="{{token}}"/>
			<p>
				<div class="form-group">
					<b>Numero de tarjeta:</b> <input type="text" name="cardNumber" placeholder="Card Number" value="{{card}}" required />
				</div>
				<button type="submit" class="btn btn-default">
	 					<span class="glyphicon glyphicon-upload"></span> Confirrmar numero de tarjeta
	 			</button>
			</p>
		
		</form>
		
	</body>

</html>