{{#worker}}
{{>mainworker}}
{{/worker}}
{{^worker}}
{{>mainClient}}
{{/worker}}

		
		<h2>Lista de productos de la categoria:</h2>
		
		<ul>
			{{#worker}}
			{{#products}}			
			<li>
		 		<a href="/worker/product/{{id}}"><img src="/download_image/product/{{id}}" width="200" height="200"></img></a>		
				<a href="/worker/product/{{id}}"></strong> {{name}} </a><br>
				<a href="/worker/product/{{id}}"></strong> Cantidad: {{quant}}</a><br>	
				<form action="/worker/deleteproduct/{{id}}" method="GET" enctype="multipart/form-data" >
					<button type="submit" class="btn btn-default">
 						<span class="glyphicon glyphicon-upload"></span> Eliminar
 					</button>
 				</form>			
			</li>
			{{/products}}
			{{/worker}}
			{{^worker}}
			{{#products}}
		 	<li>		 		
		 		<a href="/client/product/{{id}}"><img src="/download_image/product/{{id}}" width="200" height="200"></img></a>		
				<a href="/client/product/{{id}}"></strong> {{name}} </a><br>
				<a href="/client/product/{{id}}"></strong> Cantidad: {{quant}}</a><br>			
			</li>
			{{/products}}
			{{/worker}}
			
		</ul>

				
	</body>

</html>