{{>navigation}}
		
		<!-- ### CATEGORIAS DE PRODUCTO ### -->
		<div>
			<h2>Carrito de la compra</h2>			
		</div>
		
		<ul>
			
			{{#cart}}
		 	<li>		 		
		 		
		 		<a href="/product/{{id}}"><img src="/download_image/product/{{id}}" width="200" height="200"></img></a>
				<a href="/product/{{id}}"></strong> {{name}}    </a>		
				<form action="/modproductquant/{{id}}" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="_csrf" value="{{token}}"/>
					<b>Cantidad:</b> <input type="number" name="quant" placeholder="cantidad" value="{{quant}}"required />
					<button type="submit" class="btn btn-default">
 						<span class="glyphicon glyphicon-upload"></span> Cambiar cantidad
 					</button>
 				</form>
 				<form action="/deleteproduct/{{id}}" method="GET" enctype="multipart/form-data">
					<input type="hidden" name="_csrf" value="{{token}}"/>
					<button type="submit" class="btn btn-default">
 						<span class="glyphicon glyphicon-upload"></span> Eliminar del carrito
 					</button>
 				</form>		
			</li>
			{{/cart}}
			
		</ul>
		
 		<form action="/buy" method="GET" enctype="multipart/form-data">
			<input type="hidden" name="_csrf" value="{{token}}"/>
			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-upload"></span> Confirmar compra
			</button>
		</form>	
		
	</body>

</html>