{{>workerNav}}
		
		<!-- ### CATEGORIAS DE PRODUCTO ### -->
		<div>
			<h2>Sign in</h2>
			
		</div>


		<form action="/newWorker" method="POST" enctype="multipart/form-data">
		<p>
			<div class="form-group">
				<b>Nickname:</b> <input type="text" name="nickname" placeholder="Nickname" required />
			</div>
			<div class="form-group">
				<b>Nombre:</b> <input type="text" name="nombre" placeholder="Nombre" required />
			</div>
			<div class="form-group">
				<b>Email:</b> <input type="text" name="email" placeholder="Email" required />
			</div>
			<div class="form-group">
				<b>Direccion:</b> <input type="text" name="direccion" placeholder="Direccion" required />
			</div>
			<div class="form-group">
				<b>Administrador:</b> <input type='checkbox' name='admin' value='true'>
			</div>
			<div class="form-group">
				<b>Contraseña:</b> <input type="password" name="password" placeholder="Password" required />
			</div>
			<button type="submit" class="btn btn-default">
 					<span class="glyphicon glyphicon-upload"></span> Sign in
 			</button>
		</p>
		
	</body>

</html>